body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* NAV */
li{
  list-style: none;
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-nav{
  background-color: blue;
  border-bottom: 1px solid #090a0a;
  padding: 5px;
}

.header-nav li{
  color: white;
  padding-right: 15px
  
}

.header-nav a{
  color: white
}

/* About Me */

section{
  margin-top: 25px;
}

.aboutSection{
  /* display: flex; */
  justify-content: space-between;
}

.title{
  text-align: center;
}

.title h1{
  margin: auto;
}

/* Projects */

.project-imgs{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}

.project-imgs img{
  width: 45%;
  height: 45%;
  padding: 20px;
  transition: .5s ease;
}

/* footer */
.footer{
  background-color: blue;
  border-top: 2px solid #43FFF4;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer img {
  padding: 10px;
} 